@model WhoWeHelpViewModel

<section id="help" class="help">
    <h2>@Localizer["whoWeHelp"]</h2>

    <!-- SLIDE 1 -->
    <div class="help--slides active" data-id="1">
        <p>
            @Localizer["whoWeHelpBody"]
        </p>

        <ul class="help--slides-items">
            @foreach (var pair in Model.Institutions)
            {
                string name1 = pair.Item1 != null ? pair.Item1.Name : "\u00a0";
                string desc1 = pair.Item1 != null ? pair.Item1.Description : "\u00a0";
                string name2 = pair.Item2 != null ? pair.Item2.Name : "\u00a0";
                string desc2 = pair.Item2 != null ? pair.Item2.Description : "\u00a0";

                <li>
                    <div class="col">
                        <div class="title">@name1</div>
                        <div class="subtitle">@desc1</div>
                    </div>
                    <div class="col">
                        <div class="title">@name2</div>
                        <div class="subtitle">@desc2</div>
                    </div>
                </li>
            }
        </ul>

        @if (Model.ShowAllLink)
        {
            <p>
                <a id="showMoreButton" class="btn btn--small btn--without-border active" asp-action="ShowAllInstitutions"
                   data-ajax="true"
                   data-ajax-method="GET"
                   data-ajax-complete="replaceContent(xhr, 'help')">
                    @Localizer["showAllButton"]
                </a>
            </p>
        }
    </div>

</section>