@model IndexViewModel

@{
    if (ViewBag.ShowSlogan == null) { ViewBag.ShowSlogan = false; }
    else { ViewBag.HeaderClass = "header--main-page"; }
}

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>@Localizer["appTitle"]</title>
    <link rel="stylesheet" href="~/css/style.css" />
    <partial name="~/Views/Shared/_ValidationScriptsPartial.cshtml">
</head>
<body>
    <header class="@ViewBag.HeaderClass">
        <nav class="container container--70">

            <partial name="~/Views/Shared/_NavActionsPartial.cshtml">

            <ul>
                <li><a asp-controller="Home" asp-action="Index" class="btn btn--without-border active">@Localizer["startLink"]</a></li>
                <li><a href="#steps" class="btn btn--without-border">@Localizer["whatIsItAboutLink"]</a></li>
                <li><a href="#about-us" class="btn btn--without-border">@Localizer["aboutUsLink"]</a></li>
                <li><a href="#help" class="btn btn--without-border">@Localizer["institutionsLink"]</a></li>
                <li><a href="form.html" class="btn btn--without-border">@Localizer["donateLink"]</a></li>
                <li><a href="#contact" class="btn btn--without-border">@Localizer["contactLink"]</a></li>
            </ul>
        </nav>

        @if (ViewBag.ShowSlogan == true)
        {
            <div class="slogan container container--90">
                <div class="slogan--item">
                    <h1>
                        @Localizer["sloganLine"]<br />
                        @Localizer["sloganMessage"]
                    </h1>
                </div>
            </div>
        }
    </header>

    @RenderBody()

    <footer>
        <div id="contact" class="contact">
            <h2>@Localizer["getInTouch"]</h2>
            <h3>@Localizer["contactForm"]</h3>
            <form class="form--contact" asp-controller="Home" asp-action="PostMessage"
                  data-ajax="true"
                  data-ajax-method="POST"
                  data-ajax-complete="replaceContent(xhr, 'contact')">
                <div class="form-group form-group--50"><input asp-for="MessageData.Name" placeholder="@Localizer["firstName"]" /></div>
                <div class="form-group form-group--50"><input asp-for="MessageData.LastName" placeholder="@Localizer["lastName"]" /></div>

                <div class="form-group"><textarea asp-for="MessageData.Message" placeholder="@Localizer["message"]" rows="1"></textarea></div>

                <div class="form-group" asp-validation-summary="All"></div>

                <button class="btn" type="submit">@Localizer["sendButton"]</button>
            </form>
        </div>

        <div class="bottom-line">
            <span class="bottom-line--copy">@Localizer["copyrightCopy"] @DateTime.Now.Year</span>
            <div class="bottom-line--icons">
                <a href="#" class="btn btn--small"><img src="~/images/icon-facebook.svg" /></a> <a href="#" class="btn btn--small"><img src="~/images/icon-instagram.svg" /></a>
            </div>
        </div>
    </footer>

    <script src="~/js/app.js"></script>
</body>
</html>
