<ul id="navi" class="nav--actions">
    <li>
        <a asp-controller="Home" asp-action="SwitchLanguage" asp-route-culture="pl-PL" class="btn btn--small">PL</a>
    </li>
    <li>
        <a asp-controller="Home" asp-action="SwitchLanguage" asp-route-culture="en-GB" class="btn btn--small">EN</a>
    </li>

    @if (!User.Identity.IsAuthenticated)
    {
        <li><a asp-controller="Account" asp-action="Login" class="btn btn--small btn--without-border">@Localizer["loginButton"]</a></li>
        <li><a asp-controller="Account" asp-action="Register" class="btn btn--small btn--highlighted">@Localizer["signOnButton"]</a></li>
    }
    else
    {
        <li class="logged-user">
            @Localizer["hello"] @User.Identity.Name
            <ul class="dropdown">
                @*<li><a href="#">Profil</a></li>
                    <li><a href="#">Ustawienia</a></li>
                    <li><a href="#">Moje zbiórki</a></li>*@
                <li><a asp-controller="Account" asp-action="Logout">@Localizer["logoutLink"]</a></li>
            </ul>
        </li>
    }
</ul>