@model DonationFormModel

<section class="form--steps">
    <div class="form--steps-instructions">
        <div class="form--steps-container">
            <h3>@Localizer["importantExclamation"]</h3>
            <p data-step="1" class="active">
                @Localizer["fillDetailsForm"]
            </p>
            <p data-step="2">
                @Localizer["fillDetailsForm"]
            </p>
            <p data-step="3">
                @Localizer["pickOneInstitutionForm"]
            </p>
            <p data-step="4">@Localizer["collectionDetailsForm"]</p>
        </div>
    </div>

    <div class="form--steps-container">
        <div class="form--steps-counter">Krok <span>1</span>/4</div>

        <form id="donation-form" action="#" method="post">
            <!-- STEP 1: class .active is switching steps -->
            <div data-step="1" class="active">
                <h3>@Localizer["tickCategory"]</h3>

                <div id="categories-checkbox-group">
                    @foreach (var cat in Model.AvailableCategories)
                    {
                        <div class="form-group form-group--checkbox">
                            <label>
                                <input type="checkbox" class="category-item"
                                       name="categories"
                                       value="@cat.Category.Id"
                                       checked="@cat.IsChecked" />
                                <span class="checkbox"></span>
                                <span class="description">@cat.Category.Name</span>
                            </label>
                        </div>
                    }
                    <div id="category-error-message" class="d-none">
                        <ul>
                            <li>
                                @Localizer["pickAtLeastOneCategory"]
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="form-group form-group--buttons">
                    <button id="step-1-next" type="button" class="btn next-step">@Localizer["nextButton"]</button>
                </div>
            </div>


            <!-- STEP 2 -->
            <div data-step="2">
                <h3>@Localizer["provideNumberOfBags"]</h3>

                <div class="form-group form-group--inline">
                    <label>
                        @Localizer["numberOfBags"]
                        <input asp-for="NumberOfBags" min="@Model.MinNumberOfBags" />
                    </label>
                </div>

                <div id="bags-error-message" class="d-none">
                    <ul>
                        <li>
                            @Localizer["oneBagMin"]
                        </li>
                    </ul>
                </div>

                <div class="form-group form-group--buttons">
                    <button type="button" class="btn prev-step">@Localizer["backButton"]</button>
                    <button type="button" class="btn next-step">@Localizer["nextButton"]</button>
                </div>
            </div>


            <!-- STEP 4 -->
            <div data-step="3">
                <h3>@Localizer["chooseInstitutionYouWantToHelp"]</h3>
                <div id="institution-checkbox-group">
                    @foreach (var institution in Model.AvaiilableInstitutions)
                    {
                        <div class="form-group form-group--checkbox">
                            <label>
                                <input class="institution-item" name="SelectedInstitutionId" type="radio" value="@institution.Id" />
                                <span class="checkbox radio"></span>
                                <span class="description">
                                    <div class="title">@institution.Name</div>
                                    <div class="subtitle">
                                        @institution.Description
                                    </div>
                                </span>
                            </label>
                        </div>
                    }
                    <div id="institution-error-message" class="d-none">
                        <ul>
                            <li>
                                @Localizer["pickOneInstitution"]
                            </li>
                        </ul>
                    </div>
                </div>

            <div class="form-group form-group--buttons">
                <button type="button" class="btn prev-step">@Localizer["backButton"]</button>
                <button type="button" class="btn next-step">@Localizer["nextButton"]</button>
            </div>
            </div>


            <!-- STEP 5 -->
            @*<div data-step="4">
                    <h3>Podaj adres oraz termin odbioru rzecz przez kuriera:</h3>

                    <div class="form-section form-section--columns">
                        <div class="form-section--column">
                            <h4>Adres odbioru</h4>
                            <div class="form-group form-group--inline">
                                <label> Ulica <input type="text" name="address" /> </label>
                            </div>

                            <div class="form-group form-group--inline">
                                <label> Miasto <input type="text" name="city" /> </label>
                            </div>

                            <div class="form-group form-group--inline">
                                <label>
                                    Kod pocztowy <input type="text" name="postcode" />
                                </label>
                            </div>

                            <div class="form-group form-group--inline">
                                <label>
                                    Numer telefonu <input type="phone" name="phone" />
                                </label>
                            </div>
                        </div>

                        <div class="form-section--column">
                            <h4>Termin odbioru</h4>
                            <div class="form-group form-group--inline">
                                <label> Data <input type="date" name="data" /> </label>
                            </div>

                            <div class="form-group form-group--inline">
                                <label> Godzina <input type="time" name="time" /> </label>
                            </div>

                            <div class="form-group form-group--inline">
                                <label>
                                    Uwagi dla kuriera
                                    <textarea name="more_info" rows="5"></textarea>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group form-group--buttons">
                        <button type="button" class="btn prev-step">Wstecz</button>
                        <button type="button" class="btn next-step">Dalej</button>
                    </div>
                </div>*@


            <!-- STEP 6 -->
            @*<div data-step="5">
                    <h3>Podsumowanie Twojej darowizny</h3>

                    <div class="summary">
                        <div class="form-section">
                            <h4>Oddajesz:</h4>
                            <ul>
                                <li>
                                    <span class="icon icon-bag"></span>
                                    <span class="summary--text">4 worki ubrań w dobrym stanie dla dzieci</span>
                                </li>

                                <li>
                                    <span class="icon icon-hand"></span>
                                    <span class="summary--text">Dla fundacji "Mam marzenie" w Warszawie</span>
                                </li>
                            </ul>
                        </div>

                        <div class="form-section form-section--columns">
                            <div class="form-section--column">
                                <h4>Adres odbioru:</h4>
                                <ul>
                                    <li>Prosta 51</li>
                                    <li>Warszawa</li>
                                    <li>99-098</li>
                                    <li>123 456 789</li>
                                </ul>
                            </div>

                            <div class="form-section--column">
                                <h4>Termin odbioru:</h4>
                                <ul>
                                    <li>13/12/2018</li>
                                    <li>15:40</li>
                                    <li>Brak uwag</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="form-group form-group--buttons">
                        <button type="button" class="btn prev-step">Wstecz</button>
                        <button type="submit" class="btn">Potwierdzam</button>
                    </div>
                </div>*@


        </form>
    </div>
</section>